* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;

  background-color: #0f1929;
  color: white;
}
.mode-change {
  background-color: #f7f9fc;
  color: #000000;
}

.icon {
  display: none;
  font-size: 40px;
  cursor: pointer;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #333;
  display: flex;
  padding: 8px 22px;
  justify-content: space-between;
}

nav i {
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  color: white;
  cursor: pointer;
}

.change_icon i {
  font-size: 25px;
  margin-right: 50px;
}

nav ul {
  display: flex;
  text-align: end;
}

nav ul i {
  margin-bottom: 40px;
  font-size: 20px;
  color: white;
}

ul li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: white;
  padding: 5px 22px;
}

li a:hover {
  background-color: white;
  color: black;
}

.first_section {
  display: flex;
  width: 99%;
  height: 600px;
}

.first_section .main_container {
  display: flex;
  flex-direction: column;
  padding: 100px;
  width: 70%;
}

.typing-carousel {
  width: 100%;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 5px;
}

.discription_ {
  width: 100%;
  font-size: 23px;
  font-weight: 500;
  padding: 18px 0px;
  letter-spacing: 3px;
}
.discription_ p {
  width: 100%;
  text-align: justify;
  line-height: 29px;
}
.hire {
  font-size: 24px;
  padding: 10px;
  color: #333;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
  margin: 30px 0px;
}
.cv {
  font-size: 22px;
  padding: 10px;
  color: #333;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
  margin: 20px 40px;
}

.second-container .logo i {
  font-size: 35px;
  padding: 14px;
  color: #003cff;
  margin-top: 5px;
}

.image_container {
  width: 29%;
}

.cr_1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_container img {
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
  width: 300px;
  height: 300px;
  margin: 140px 0px 0px 70px;
  box-shadow: 1px 1px 30px 2px black;
}

@media only screen and (max-width: 990px) {
  .first_section {
    display: flex;
    width: 99%;
    height: 600px;
  }

  .first_section .main_container {
    display: flex;
    flex-direction: column;
    padding: 70px;
    width: 73%;
  }

  .typing-carousel {
    width: 100%;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 5px;
  }

  .discription_ {
    width: 100%;
    font-size: 19px;
    font-weight: 500;
    padding: 10px 0px;
    letter-spacing: 3px;
  }
  .discription_ p {
    width: 100%;
    text-align: justify;
    line-height: 35px;
  }
  .hire {
    font-size: 24px;
    padding: 4px;
    color: #333;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    margin: 20px 0px;
  }
  .cv {
    font-size: 22px;
    padding: 4px;
    color: #333;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    margin: 20px 40px;
  }

  .second-container .logo i {
    font-size: 35px;
    padding: 14px;
    color: rgb(37, 37, 158);
    margin-top: 5px;
  }

  .image_container {
    width: 24%;
  }

  .image_container img {
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
    width: 200px;
    height: 200px;
    margin: 80px 0px 0px 60px;
  }
}
@media only screen and (max-width: 700px) {
  nav {
    display: flex;
    justify-content: end;
  }

  nav ul {
    display: none;
  }

  .icon {
    display: flex;
    margin-right: 60px;
  }

  .showdata {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 38px;
    width: 100%;
    text-align: center;
    gap: 15px;
    background-color: #dde9e2;
  }

  .typing-carousel {
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 5px;
  }
  .change_icon {
    left: 0;
    position: absolute;
    margin-left: 20px;
  }

  ul li {
    width: 100%;
    padding: 5px 0px;
  }

  li a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    color: rgb(19, 18, 18);
    padding: 0px 0px;
  }

  li:hover {
    background-color: #333;
    color: rgb(253, 240, 240);
  }

  li a:hover {
    width: 100%;
    background-color: #333;
    color: rgb(253, 240, 240);
  }

  .first_section {
    flex-direction: column;
    height: 700px;
  }

  .first_section .main_container {
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 1px;
    height: 70%;
    margin: 20px;
  }

  .image_container {
    width: 100%;
    height: 30%;
  }
  .cr_1 {
    display: flex;
    justify-content: center;
  }
  .image_container img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
    width: 140px;
    height: 140px;
  }

  .discription_ {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0px;
    letter-spacing: 2px;
    line-height: 8px;
  }
  .discription_ p {
    width: 100%;

    text-align: justify;
  }

  .second-container .logo i {
    font-size: 30px;
    padding: 5px;
    color: rgb(37, 37, 158);
  }
}

@media only screen and (max-width: 500px) {
  ul li {
    width: 100%;
    padding: 5px 0px;
  }

  .typing-carousel {
    width: 100%;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 4px;
  }
  .first_section {
    flex-direction: column;
    height: auto;
  }

  .image_container {
    width: 100%;
    height: auto;
  }

  .image_container img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
    width: 110px;
    height: 110px;
  }

  .discription_ {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0px;
    letter-spacing: 2px;
    line-height: 20px;
    text-align: center;
  }

  .second-container .logo i {
    font-size: 30px;
    padding: 5px;
    color: rgb(37, 37, 158);
  }
}
@media only screen and (max-width: 480px) {

  .typing-carousel {
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 5px;
    border: 2px solid red;
  }
}
@media only screen and (max-width: 390px) {

  .hire {
    font-size: 18px;
    padding: 8px;
    color: #333;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    margin: 30px 0px;
  }
  .cv {
    font-size: 18px;
    padding: 8px;
    color: #333;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    margin: 20px 0px;
  }
  
}
/* About */

.container_about {
  height: 550px;
  padding: 2%;
}
.container_about h1 {
  text-align: center;
  font-size: 43px;
  margin-top: 40px;
}
.container_about .first_about {
  display: flex;
  height: 87%;
}
.container_about .first_about .text_about {
  width: 70%;
  font-size: 16px;
  margin: 50px;
}
.container_about .first_about .text_about .text {
  height: 52%;
}
.container_about .first_about .text_about .text p {
  font-size: 18px;
  line-height: 18px;
  text-align: justify;
  width: 100%;
}
#education {
  height: 48%;
  padding: 8px 5px;
}
#education h2 {
  height: 30px;
  padding-bottom: 20px;
}
.container_about .first_about .text_about p {
  padding: 4px;
}
#education h2 {
  text-align: center;
  font-size: 30px;
}
.photo {
  width: 30%;
  display: flex;
}
.photo img {
  border: 2px solid #333;
  width: 220px;
  height: 300px;
  margin: 50px 50px 50px 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 30px 2px black;
}
@media only screen and (max-width: 1050px) {
  .container_about h1 {
    text-align: center;
    font-size: 43px;
    margin-top: 40px;
  }
  .container_about .first_about {
    display: flex;
    height: 87%;
  }
  .container_about .first_about .text_about {
    width: 70%;
    font-size: 16px;
    margin: 50px;
  }
  .container_about .first_about .text_about .text {
    height: 64%;
  }
  .container_about .first_about .text_about .text p {
    font-size: 15px;
    line-height: 16px;
    text-align: justify;
    width: 100%;
  }
  #education {
    height: 35%;
    padding: 8px 5px;
  }
  #education h2 {
    height: 0px;
    padding-bottom: 30px;
  }
  .container_about .first_about .text_about p {
    padding: 2px;
  }
  #education h2 {
    text-align: center;
    font-size: 28px;
  }
}

@media only screen and (max-width: 700px) {
  .container_about {
    height: 550px;
    padding: 1%;
  }
  .container_about h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
  }
  .container_about .first_about {
    display: block;
  }
  .container_about .first_about .text_about {
    width: 90%;
    margin: 10px;

    font-size: 14px;
    text-align: justify;
  }
  .container_about .first_about .text_about .text {
    height: 100%;
  }
  .container_about .first_about .text_about .text p {
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    width: 100%;
  }
  #education h2 {
    height: 27px;
  }
  #education h2 {
    font-size: 27px;
  }
  .photo img {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .container_about {
    height: 750px;
    padding: 1%;
  }
}
/* Skills */
.container_skills {
  height: 420px;
  padding: 5%;
}

.center_container {
  display: flex;
  height: 350px;
  flex-direction: row;
  margin: 20px;
}

.name_container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  font-size: 30px;
}

.left_bar,
.right_bar {
  width: 50%;
  height: 80%;
  padding-left: 15px;
}
.left_bar p,
.right_bar p {
  font-size: 20px;
  margin: 10px 0px;
}

.container {
  width: 90%;
  background-color: rgb(200, 200, 238);
  border: 1px solid rgb(7, 7, 7);
  border-radius: 8px;
}

.skills {
  text-align: right;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  border: 1px solid rgb(7, 7, 7);
  border-radius: 8px;
}

.skill-bar {
  width: calc(100% - 10%);
  margin-left: 5%;
}

.skill-bar div {
  height: 100%;
}
.html {
  width: 90%;
  background-color: rgb(245, 10, 10);
}
.CSS {
  width: 70%;
  background-color: #ec5d09;
}
.TAILWIND_CSS {
  width: 80%;
  background-color: #f8ab06;
}
.JS {
  width: 60%;
  background-color: #9dee06;
}
.REACT {
  width: 20%;
  background-color: #40ec0b;
}
.EXPRESS_JS {
  width: 5%;
  background-color: #0c37f3;
}
.NODE_JS {
  width: 5%;
  background-color: #f00df8;
}
.DATABASE {
  width: 30%;
  background-color: #0bf5fd;
}

@media only screen and (max-width: 700px) {
  .container_skills {
    height: 650px;
  }
  .center_container {
    flex-direction: column;
  }

  .left_bar,
  .right_bar {
    width: 100%;
    border: none;
    padding: 0;
  }

  .name_container {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .name_container {
    font-size: 24px;
  }

  .left_bar p,
  .right_bar p {
    font-size: 18px;
  }
}

/* project */

.name-project {
  padding: 4%;
  height: 420px;
  margin-bottom: 90px;
}

.name-project h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
}

.container_project {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto;
  gap: 40px;
}

.project {
  border: 2px solid rgb(3, 3, 3);
  height: 200px;
  border-radius: 10px;
}

.project img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media Queries */
@media only screen and (max-width: 700px) {
  .name-project {
    height: 750px;
  }
  .container_project {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 500px) {
  .name-project {
    height: 1500px;
  }
  .container_project {
    grid-template-columns: auto;
    margin: 60px;
  }
}

/* Contact */

.container_contact {
  display: flex;
  padding: 5%;
  height: 420px;
}

.container_contact .contact {
  width: 50%;
  margin-right: 20px;
  padding: 20px;
  display: flex;
  text-align: left;
  flex-direction: column;
  border-right: 4px solid #fffafa;
}
.container_contact .contact h1 {
  margin: 30px;
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 2px;
}
.container_contact .contact h6 {
  font-size: 22px;
  margin: 20px;
}
.container_contact .contact p {
  font-size: 18px;
  margin: 20px;
}
.container_contact .contact .email p {
  font-size: 20px;
}
.container_contact .message {
  margin-left: 20px;
  width: 50%;
  padding: 20px;
}
.container_contact .message label {
  font-size: 20px;
}
.feedback-input-x {
  padding: 4px 50px 4px 50px;
  margin-bottom: 20px;
  width: 80%;
  border: 1px solid #333;
  border-radius: 5px;
  margin-top: 15px;
}
.feedback-input {
  border-radius: 5px;
  margin-top: 15px;
  padding: 13px 53px 50px 50px;
  margin-bottom: 40px;
  width: 80%;
  border: 1px solid #333;
}
.feedback-input-Z {
  border: 1px solid #333;
  width: 35%;
  padding: 6px 0px;
  border-radius: 5px;
  font-size: 20px;
}

.contact-3 h1 {
  display: none;
}
@media only screen and (max-width: 700px) {
  .feedback-input-x {
    width: 70%;
  }
  .feedback-input {
    width: 70%;
  }
  .feedback-input-Z {
    width: 35%;
  }
  .container_contact {
    display: block;
    padding: 5%;
    height: 600px;
  }

  .contact-3 h1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 44px;
  }
  .container_contact .contact {
    display: none;
  }
  .container_contact .message {
    margin-left: 10px;
    width: 100%;
    padding: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .feedback-input-x {
    width: 70%;
  }
  .feedback-input {
    width: 70%;
  }
  .feedback-input-Z {
    width: 35%;
  }

  .container_contact .message {
    margin-left: 5px;
    width: 50%;
    padding: 20px;
  }
  .container_contact {
    display: block;
  }

  .contact-3 h1 {
    display: flex;
    justify-content: center;
    font-size: 44px;
  }
  .container_contact .contact {
    display: none;
  }
  .container_contact .message {
    width: 100%;
    padding: 0px;
  }
}

.last_container .social_icon {
  display: flex;
  justify-content: center;
}
.last_container .social_icon i {
  font-size: 30px;
  color: #003cff;
  padding: 10px;
}
.last_container .menu {
  display: flex;
  justify-content: center;
}
.last_container .menu li {
  padding: 15px;
  list-style-type: none;
}
.last_container .menu li a {
  text-decoration: none;
  color: rgb(10, 10, 10);
}
.last_container p {
  display: flex;
  padding: 15px;
  font-size: 14px;
  justify-content: center;
}

/* Media Queries */
@media only screen and (max-width: 700px) {
  .last_container .social_icon {
    display: flex;
    justify-content: center;
  }
  .last_container .social_icon i {
    font-size: 30px;
    color: #003cff;
    padding: 10px;
  }

  .last_container .menu li {
    padding: 8px;
  }
  .last_container p {
    display: flex;
    padding: 4px;
    font-size: 12px;
    justify-content: center;
  }
}
@media only screen and (max-width: 500px) {
  .last_container .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
